{% extends 'base.html' %}
{% load static %}

    {% block title %}Home{% endblock %}


    {% block content %}
        <div class="row">
        {% for n in latest %}
        <div class="col-3" style="border:solid 1px;"><a href="{{n.1}}" target="_blank">{{ n.0 }}</a></div>
        <br>
        {% endfor %}
        </div>

        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
        <h2>Topic:</h2>
        <input name="topic" class="topic"></input>

        <h2>Country:</h2>
        <input name="location" class="country"></input>

        <h2>Time:</h2>
        <select name="time" class="time">
            <option value='1h' class="option" selected>1 Hour</option>
            <option value='1w' class="option">1 Week</option>
            <option value='1m' class="option">1 Month</option>
            <option value='1y' class="option">1 Year</option>
        </select>

        <br>
        <button type="submit" class="btn-success">Go!</button>
        </form>

    {% endblock %}
