{% extends 'base.html' %}
{% load static %}

    {% block title %}Home{% endblock %}

    <!--{% block css %}<link rel='stylesheet' href="{% static 'css/home.css' %}"> {% endblock %}-->


    {% block content %}
        <div class="row">
        {% for n in latest %}
        <div class="col col-12"><a href="{{n.1}}" target="_blank">{{ n.0 }}</a></div>
        <br>
        {% endfor %}
        </div>

        <div class="input-wrapper">

        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
        <h3 class="label">Keyword</h3>
        <input name="keyword" class="keyword input-search"></input>

        <h3 class="label">Country</h3>
        <input name="location" class="country input-search"></input>
        <h3 class="label">Language</h3>
        <select name="language" class='input-search'>
          <option value="en" selected>English</option>
          <option value="it">Italian</option>
          <option value="ru">Russian</option>
        </select>

        <h3 class="label">Date</h3>
        <select name="time" class="time input-search">
            <option value='1h' class="option" selected>1 Hour</option>
            <option value='1w' class="option">1 Week</option>
            <option value='1m' class="option">1 Month</option>
            <option value='1y' class="option">1 Year</option>
        </select>

        <!--<h3 class="label">Topic</h3>-->
        <!--<select name="topic" class="topic input-search">-->
        <!--    <option value='NONE' class="option" selected>All</option>-->
        <!--    <option value='WORLD' class="option">World</option>-->
        <!--    <option value='NATION' class="option">Nation</option>-->
        <!--    <option value='BUSINESS' class="option">Business</option>-->
        <!--    <option value='ENTERTAINMENT' class="option">Entertainment</option>-->
        <!--     <option value='SCIENCE' class="option">Science</option>-->
        <!--      <option value='SPORTS' class="option">Sports</option>-->
        <!--       <option value='HEALTH' class="option">Health</option>-->
        <!--</select>-->

        <br>
        <button type="submit" class="search-btn">SEARCH🔎</button>
        </form>

         </div>

    {% endblock %}
